.dashboard-container {
    display: flex;
    height: 100vh;
    padding: 115px 0 0 0;
    margin: 0 0 0 75px;

    .dashboard-users {
        width: 35%;
        height: 100%;
        border-right: 2px solid $orange;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .dashboard-users-table {
            width: 100%;
            overflow-y: auto;

            thead {
                border-bottom: 1px solid $dark-blue;
            }

            tbody {
                tr {
                    border-bottom: 2px solid $dark-blue;

                    td {
                        padding: 20px 10px;
                        text-align: center;

                        img {
                            border-radius: 50%;
                        }
                    }
                }

                .inactive {
                    cursor: pointer;
                }

                .active {
                    background-color: rgb(205, 205, 205);
                }
            }
        }
    }

    .dashboard-user {
        width: 65%;
        height: 100%;

        .dashboard-user-info {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10%;

            .dashboard-user-info-name {
                line-height: 20px;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                color: $dark-blue;
            }

            p {
                font-size: 1rem;
                color: $dark-blue;
                font-variant-position: sub;
            }

            img {
                border-radius: 50%;
            }
        }

        .dashboard-user-roles {
            width: 80%;
            height: 25%;
            margin: 2% auto;
            border-radius: 40px;
            box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);
            padding: 15px 30px;

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                color: $dark-blue;
                text-decoration: underline;
                margin: 0 0 20px 0;
            }

            select {
                border-radius: 10px;
                padding: 5px 30px 5px 12px;
            }

            .add-role-button {
                border-radius: 10px;
                padding: 6px 15px;
                background-color: $orange;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }

            .dashboard-user-roles-have {
                margin: 10px 0 0 0;
                form {
                    display: inline-block;
                }
                .delete-role-button {
                    border: rgba(0, 0, 0, 0.3) 1px solid;
                    border-radius: 10px;
                    padding: 1px 15px;
                    background-color: rgba(0, 0, 0, 0.2);
                    color: rgba(0, 0, 0, 0.3);
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        .dashboard-user-tickets {
            width: 80%;
            height: 45%;
            margin: 2% auto;
            border-radius: 40px;
            box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);
            overflow: hidden;

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                color: $dark-blue;
                text-decoration: underline;
                margin: 15px 0 15px 30px;
            }

            table {
                display: flex;
                width: -webkit-fill-available;
                height: 88%;
                overflow: auto;
                align-items: flex-start;
            }

            tbody {
                width: 100%;
                display: table;
                margin: 0 0 15px 0;
                tr {
                    height: 70px;
                    border-bottom: 2px solid $dark-blue;
                }

                tr td:first-of-type {
                    padding: 0 0 0 30px;
                    font-weight: bold;
                    color: $dark-blue;
                    font-size: 1.1em;
                    span {
                        font-weight: bold;
                        color: $yellow;
                    }
                }

                tr td:last-of-type {
                    padding: 0 30px 0 0;
                    text-align: right;

                    button {
                        border-radius: 10px;
                        padding: 6px 15px;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    button:first-of-type {
                        background-color: $yellow;
                        margin: 0 20px 0 0;
                    }

                    button:last-of-type {
                        background-color: $orange;
                    }
                }
            }
        }
    }
}