.tickets-container {
    display: flex;
    height: 100vh;
    padding: 50px 0 0 50px;
    background-color: $primary-dark;

    a,
    button {
        transition: all 0.1s ease-in-out;

        &:hover {
            transform: translate(1px, -1px);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &:disabled:hover {
            transform: none !important;
        }

        &:active {
            transform: translate(-1px, 1px);
        }
    }

    .tickets-wrapper {
        width: 25%;
        height: calc(100vh - 50px);
        border-right: 2px solid $secondary;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-x: hidden;
        background-color: $light;


        .tickets-create {
            width: 100%;
            text-align: center;
            height: 75px;
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: $primary-dark;

            .create-bg {
                border-radius: 30px 0 0 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                background-color: $light;
                border-bottom: 2px solid $primary-dark;
                box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.1);

                button {
                    border-radius: 50px;
                    height: 2em;
                    width: 150px;
                    background-color: $secondary;

                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }

                #search {
                    background-color: $primary;
                    border-radius: 50px;
                    margin-top: 5px;
                    width: 300px;
                    color: $light;

                    input {
                        background-color: $primary;
                        border-radius: 50px;
                        width: 85%;

                        &:focus {
                            outline: none;
                        }
                    }

                    i {
                        padding: 2px 5px 2px 2px;
                    }
                }
            }
        }

        .ticket-list-wrapper {
            width: 100%;

            .tickets {
                width: 100%;
                height: calc(100% - 150px);
                overflow: hidden;
                padding-left: 1em;
                padding-right: 1em;

                .ticket-item {
                    transition: background-color 0.2s ease-in-out;
                    width: 100%;
                    height: 50px;
                    margin-top: 2em;
                    margin-bottom: 2em;
                    cursor: pointer;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
                    background-color: $light;

                    &:hover {
                        background-color: $hover-blue;
                    }

                    .ticket-details {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90%;
                        height: 100%;

                        img {
                            position: absolute;
                            left: -20px;
                            z-index: 0;
                            width: 50px;
                            height: 50px;
                            object-fit: fill;
                            border-radius: 999px;
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .title {
                                font-size: 1em;
                                font-weight: 600;
                                font-family: $font;
                                color: $primary-dark;
                            }

                            .time {
                                font-size: .8em;
                                font-weight: 400;
                                font-family: $font;
                                color: $primary-dark;
                                opacity: 0.5;
                            }
                        }

                        .priority {
                            font-size: 1.5em;
                            position: absolute;
                            right: .5em;
                        }
                    }
                }

                .inactive {
                    cursor: pointer;
                }

                .active {
                    background-color: $hover-blue;
                }
            }
        }
    }

    .ticket {
        width: 75%;
        height: calc(100vh - 50px);
        overflow: scroll;
        overflow-x: hidden;
        padding: 1em;
        background-color: $light;

        .ticket-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;


            .ticket-info-header {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                padding: 20px;
                width: 80%;

                #ticket-info-border {
                    border-bottom: 120px solid #0004ff;
                    position: absolute;
                    bottom: 0;
                }

                .ticket-id {
                    font-size: 1.5rem;
                    font-weight: bold;

                    .ticket-logo {
                        transform: rotate(90deg);
                    }
                }

                .ticket-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                .ticket-info-header-buttons {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;
                    margin: 0 0 10px 0;

                    #editTicketButton {
                        margin-right: 20px;
                        background-color: $yellow;
                    }

                    .ticket-info-header-button {
                        background-color: $secondary;
                    }
                }
            }

            .ticket-info-body {
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                padding: 20px;
                width: 20%;


                padding: 0 0 0 0;

                .ticket-info-section {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    width: 100%;
                    padding: 10px 0;

                    .avatar {
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 500px;
                        max-width: fit-content;
                    }

                    h2 {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }

                #ticket-status-select {
                    border-radius: 7px;
                    padding: 5px 10px;
                    border: none;
                    cursor: pointer;
                }

                .ticket-status-open {
                    background-color: #00ff00;
                    color: white;
                }

                .ticket-status-assigned {
                    background-color: #ff0000;
                    color: white;
                }

                .ticket-status-waiting {
                    background-color: #0000ff;
                    color: white;
                }

                .ticket-status-closed {
                    background-color: #ff0000;
                    color: white;
                }

                .ticket-status-solved {
                    background-color: #ff0000;
                    color: white;
                }

                .ticket-category {
                    border-radius: 7px;
                    padding: 5px 10px;
                    border: none;
                }

                .ticket-category-bug {
                    background-color: #ff0000;
                    color: white;
                }

                .ticket-category-feature {
                    background-color: #00ff00;
                    color: white;
                }

                .ticket-category-question {
                    background-color: #0000ff;
                    color: white;
                }

                .ticket-priority {
                    border-radius: 7px;
                    padding: 5px 40px 5px 10px;
                    border: none;
                    cursor: pointer;
                }

                .rating {
                    border-radius: 7px;
                    padding: 5px 40px 5px 10px;
                    border: none;
                    cursor: pointer;
                }

                .ticket-priority-low {
                    background-color: #00ff00;
                    color: white;
                }

                .ticket-priority-medium {
                    background-color: orange;
                    color: white;
                }

                .ticket-priority-high {
                    background-color: #ff0000;
                    color: white;
                }



            }
        }


    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal-header {
        padding: 10px 16px;

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    /* Modal Body */
    .modal-body {
        padding: 2px 16px;
        display: flex;
        flex-flow: column;
        justify-content: center;

        div {
            display: flex;
            flex-flow: column;
            margin: 0 0 10px;

            label {
                color: $primary-dark;
                font-family: $font;
                font-weight: 600;
            }

            input {
                border: 3px solid $primary;
                border-radius: 12px;
                color: $primary-dark;
                font-family: $font;
                font-weight: 600;
                margin: 0 10px;
            }

            .error {
                color: red;
                border: 3px solid red;
            }

            .invalid-feedback {
                color: red;
                font-size: 0.8rem;
                font-weight: 600;
                margin: 0 10px;
            }

        }
    }

    /* Modal Footer */
    .modal-footer {
        padding: 2px 16px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px 0;

    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        color: $primary-dark;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 30%;
        min-width: 400px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;
        border-radius: 20px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.ticket-content {
    width: 100%;
    height: 100%;

    textarea {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px;
        border: #888 3px solid;
        border-radius: 10px;
        resize: none;
    }

    textarea:read-only {
        background-color: #efefef;
        color: $primary-dark;
        cursor: not-allowed;
    }

    .submit-message {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin: 1em auto;
        width: 50%;
        background-color: $primary-dark;
        border-radius: 12px;
        text-transform: uppercase;
        color: $light;
    }

    .ticket-content-card {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px;
        margin-top: 1em;

        border: #888 3px solid;
        border-radius: 10px;

        .ticket-content-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            i {
                color: red;
            }

            .ticket-content-card-user {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                .role {
                    background-color: $yellow;
                    border-radius: 5px;
                    padding: 1px 4px;
                    margin-left: 7px;
                    color: white;
                    text-align: center;
                }

                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50px;
                    margin-right: 5px;
                }

                .name {
                    font-weight: bold;
                    margin-right: .5em;
                }

                .time {
                    color: $primary-dark;
                    font-weight: 900;
                    opacity: 0.5;
                    margin-left: 1em;
                }

                ul {
                    display: flex;
                }
            }
        }
    }
}

.return {
    display: none;
}

@media screen and (max-width: 1024px) {

    .return {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        top: calc(50px + 1em);
        left: 1em;
        z-index: 0;
        background-color: $primary;
        color: $light;
        padding: .5em 1em;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .tickets-container {
        padding: 50px 0 !important;
        height: 100vh !important;
    }

    .tickets-wrapper {
        width: 100% !important;
        border-radius: 25px 25px 0 0 !important;

        .ticket-item {
            height: 100px;
            font-size: 1em;
        }
    }

    .ticket {
        width: 100% !important;
        height: calc(100vh - 50px) !important;
        border-radius: 25px 25px 0 0 !important;

        .ticket-info {
            flex-direction: column !important;

            .ticket-info-header {
                align-items: center !important;
                justify-content: center !important;
                width: 100% !important;
            }

            .ticket-info-body {
                align-items: center !important;
                justify-content: center !important;
                width: 100% !important;
            }
        }
    }

}