.verify-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;

    padding: 20px;

    h1{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    svg{
        width: 10rem;
        height: 10rem;
        margin-bottom: 1rem;
    }

    .valid{
        color: hsl(120, 100%, 40%);
        font-weight: bold;
    }

    button.verify-submit{
        background-color: $orange;
    }

    .verify-paragraph{
        margin: 20px;
    }
}
