@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;700&display=swap');

$primary-light: #8cc8ff;
$hover-blue : #d7f6ff;
$primary-dark: #2b2d42;
$primary: #8d99ae;
$secondary: #04b9d9;
$yellow: #ef9d23;
$light: #f8f9fa;

$danger : #ef2323;
$success : #00c851;
$warning : #ffc107;

$font: 'Fira Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}
