@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,700&display=swap');

$light-blue : #5ADBFF;
$dark-blue: #094074;
$blue: #3C6997;
$orange: #FE9000;
$yellow: #FFDD4A;
$light: #FCFEFF;

$font: 'Montserrat';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}