.navigation-container {
    position: sticky;
    background-color: $primary-dark;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;

    .content-bg {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-dark;
        display: none;
    }

    .logo {
        position: absolute;
        width: 50px;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .layout-dashboard-header {
        width: calc(100% - 50px);
        height: 40px;
        background-color: $primary-dark;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: -1;

        ul {
            display: flex;
            align-items: flex-end;
            background-color: white;
            border-radius: 30px 0 0 0;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        li {
            margin: 0 0 0 50px;

            a {
                color: $secondary;
                font-weight: bold;
                margin: 0 0 5px 0;
            }
        }

        li .active::after {
            content: "";
            display: block;
            height: 4px;
            border-radius: 10px 10px 0 0;
            background-color: $secondary;
            transition: width 0.3s ease-in-out;
        }

        li .inactive::after {
            content: "";
            display: block;
            height: 4px;
            border-radius: 10px 10px 0 0;
            transition: width 0.3s ease-in-out;
        }
    }

    .layout-header {
        width: 100%;
        height: 50px;
        background-color: $primary-dark;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $light;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            right: 2em;
            cursor: pointer;
        }

        .avatar-dropdown {
            color: white;
            width: 250px;
            height: 125px;
            background-color: $primary-dark;
            border-top: 2px solid $secondary;
            position: absolute;
            right: 0;
            top: 50px;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 0 0 12px 12px;
            z-index: 999;
            text-align: center;

            .avatar-dropdown-header-name {
                font-size: 1.5rem;
                font-weight: bold;
                color: $secondary;
            }

            .avatar-dropdown-header-email {
                font-size: 1rem;
                font-weight: 100;
                color: $light;
                opacity: 0.5;
                margin-bottom: 10px;
            }

            .avatar-dropdown-header-button {
                width: 100%;
                height: 30px;
                background-color: $secondary;
                border-radius: 0 0 12px 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                position: absolute;
                bottom: 0;
                right: 0;


                &:hover {
                    background-color: $primary-dark;
                    color: $secondary;
                }
            }
        }
    }

    .primary-navbar {
        background-color: $primary-dark;
        height: calc(100vh - 50px);
        width: 50px;
        position: absolute;
        left: 0;
        top: 50px;
        z-index: 1;


        .links {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            position: absolute;


            .link {
                width: 100%;
                font-size: 1.5rem;
                text-decoration: none;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
                text-align: center;
                position: relative;

                i {
                    color: $secondary;
                    opacity: 0.3;
                    font-size: 1em;
                }

                i.active {
                    color: $secondary;
                    opacity: 1;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .settings {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            position: absolute;
            width: 100%;
            bottom: 2em;

            i {
                color: $secondary;
                opacity: 0.3;
                font-size: 1.3em;
            }

            i.active {
                color: $secondary;
                opacity: 1;
            }


            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .active-mark {
            background-color: $secondary;
            width: 5px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 0px 10px 10px 0px;
            animation: active-mark-animation .5s linear forwards;
            opacity: 0;
        }

        .inactive-mark {
            background-color: $secondary;
            width: 3px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 0px 10px 10px 0px;
            animation: active-mark-animation .5s linear forwards;
        }
    }
}

@keyframes active-mark-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mobile-navigation-container, mobile-dashboard-navigation, .hamburger-menu, .mobile-header {
    display: none;
}

@media screen and (max-width: 1024px) {

    .navigation-container {
        display: none;
    }

    .mobile-bg {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $primary-dark;
    }

    .mobile-header {
        position: absolute;
        display: block;
        width: 100vw;
        height: 50px;
        background-color: $primary-dark;
    }

    .hamburger-menu {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: 12px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: $light;
        border: 5px solid $primary;
        border-radius: 100%;
        color: $primary;
        transition: transform 0.3s ease-in-out;

        &:active {
            transform: scale(0.9);
        }
    }

    .mobile-navigation-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #2b2d4299;
        backdrop-filter: blur(10px) brightness(0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        flex-direction: column;

        form > button {
            position: absolute;
            bottom: 3em;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $light;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            top : 3em;
            cursor: pointer;
        }

        .avatar-dropdown {
            color: white;
            width: 250px;
            height: 125px;
            background-color: $primary-dark;
            border-top: 2px solid $secondary;
            position: absolute;
            right: 0;
            top: 50px;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 0 0 12px 12px;
            z-index: 999;
            text-align: center;

            .avatar-dropdown-header-name {
                font-size: 1.5rem;
                font-weight: bold;
                color: $secondary;
            }

            .avatar-dropdown-header-email {
                font-size: 1rem;
                font-weight: 100;
                color: $light;
                opacity: 0.5;
                margin-bottom: 10px;
            }

            .avatar-dropdown-header-button {
                width: 100%;
                height: 30px;
                background-color: $secondary;
                border-radius: 0 0 12px 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                position: absolute;
                bottom: 0;
                right: 0;


                &:hover {
                    background-color: $primary-dark;
                    color: $secondary;
                }
            }
        }

        .primary-navbar {
            height: 50%;

            .links {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                color: $light;
                font-size: 2em;

                .link, .settings {

                    border-bottom: 5px solid $secondary;

                    i {
                        color: $secondary;
                    }
                }
            }
        }
    }

    .mobile-dashboard-navigation {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .layout-dashboard-header {
            width: 75%;

            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 100%;
                color: $primary;
                font-size: 1em;
                font-weight: bold;
                cursor: pointer;
    
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                a.active {
                    color: $secondary;
                    opacity: 1;
                }
    
            }
        }
    }
}